.fondo-texto{
    background-color: #012855;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin: 0;
}

#titulo-tasaciones{
    text-align: center;
    padding: 10px;
    
}
#sinpadding{
  width: 50%;
  height: 50px;
  background-color: #012855;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  border-radius: 5px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

#divfather{
    padding-top: 250px;
    text-align: left;
}