.footer{
    display: flex;
    position: absolute;
    background-color: #f1f1f1;
    color: #333;
    text-align: center;
    padding: 20px 0px 0px 0px;
    bottom: 1;
    width: 100%;
    justify-content: center;
}
.footer-content{
  display: grid;
  grid-template-columns: repeat(3, auto); 
  gap: 20px;
  text-align: center;
}
.footer-content p{
    max-width: 300px;
}
@media (max-width: 600px) {
  .footer-content {
    grid-template-columns: 1fr; 
  }
}