#logo{
  width: 8%;
  height: auto;
  cursor: pointer;
  margin-bottom: 5px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-weight: bold; 
  font-family: "Arial", sans-serif;
}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2.25rem;
  justify-content: center;
  height: 100%;
  color: #181818;
}

.nav svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem 0 1rem;
  font-family: "Arial", sans-serif;
}


.nav li a:hover {
  color: rgb(129, 129, 129);
  border-bottom: 2px solid rgb(129, 129, 129);
  padding-bottom: 0.5rem;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav li a.active {
  color: rgb(129, 129, 129);
  border-bottom: 2px solid rgb(129, 129, 129);
  padding-bottom: 0;
}