* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


.nav-glass {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 110px;
  background: rgba(255, 255, 255, 0.76);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 1000;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.separator {
  width: 100%;
  height: 110px;
  background-color: var(--primary);
}

.nav-logo {
  display: flex;
  align-items: end;
}

#logo {
  height: 90px;
  padding-bottom: 5px;
}

.lg-name {
  height: 60px;
  padding-bottom: 5px;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  align-items: center;
}

.nav-links li {
  display: flex;
  align-items: center;
  padding: 8px 14px;
  border-radius: 12px;
  transition: background 0.3s, transform 0.2s;
}

.nav-links li a {
  display: flex;
  gap: 6px;
  font-weight: 500;
  text-decoration: none;
  font-size: 1.12rem;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.nav-links li.active {
  background-color: var(--primary);
}

.nav-links li.active a {
  color: #fff;
}

.nav-links svg{
  width: 1.2rem;
  height: 1.2rem;
  fill: currentColor;
  vertical-align: middle;
}
